<div class="container">
   
  <img class="img-responsive" src ="assets/logo.jpg" height="100" width="530">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
   
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" target="_blank" href="https://shoppingcart.youhostindia.com" >Domain Name Registration</a>
            <a class="dropdown-item" target="_blank" href="https://shoppingcart.youhostindia.com" >Web Hosting</a>
            <a class="dropdown-item" target="_blank" href="https://shoppingcart.youhostindia.com" >Business Email Accounts</a>
            <a class="dropdown-item" target="_blank" href="https://shoppingcart.youhostindia.com" >Virtual private Servers</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/home">Better software for your bussiness</a>
          </div>
        </li>
       
      </ul>
      
    </div>
  
  
  </nav>
  </div>
